
*{scroll-behavior: smooth !important;}
:root{
    --Montserratt: 'Montserrat', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --Titillium: 'Titillium Web', sans-serif !important;
    --raw-seinna: hsl(24, 74%, 58%);
    --ocean: hsl(204, 91%, 30%);
    --scarlet: hsl(13, 96%, 47%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --fs-1: 2rem;
    --fs-2: calc(1.813rem + 1vw);
    --fs-3: calc(1.313rem + 1vw);
    --fs-4: 1.4rem;
    --fs-5: 1rem;
    --fs-6: 0.813rem;
    --fs-7: 0.75rem;
    --fw-400: 400;
    --fw-700: 700;
    --transition-1: 0.25s ease-in-out;
    --section-padding: 80px;
    --radius-4: 4px;
    --radius-12: 12px;
    overflow-x: hidden;
    --fancybox-border-radius:72% 28% 59% 41% / 54% 45% 55% 46% ;
}

.dark_theme {
  --cp-darkest:#121111;
  --cp-darker:#191919;
  --cp-dark:#222527;
  --cp-1:#000814;
  --cp-2:#252525;
  --cp-3:#ffc300;
  --cp-4:#ffffff;
  --cp-5:#ffc300;
  --cp-6:#0e6ba8;
  --cp-7:#a6e1fa;
  --cp-8:#ffd60a;
  --text-custom-dark :#353535;
  --text-custom-light-hover:#284b63;
  --text-custom-light:#d9d9d9;
  --bs-gradient:rgba(35, 35, 35, 0.3);
  --box-shadow:rgb(49, 49, 49);
  --buttonx:rgb(0, 170, 255);
  --bg-primary: hsl(0, 0%, 12%);
  --bg-secondary: hsl(0, 0%, 19%);
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(0, 0%, 62%);
  --card-shadow: hsla(0, 0%, 0%, 0.4);
  --input-bg: hsl(0, 0%, 16%);
  --text-contrast: hsl(0, 0%, 100%);
  --shadow-1: 10px 10px 40px var(--card-shadow);
  --gradient-matbg:rgba(18, 18, 18, 0.9);
  --gradient-bg:
  linear-gradient(127deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 80.71%),
  linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0) 80.71%),
  linear-gradient(217deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 80.71%),
  linear-gradient(336deg, rgba(243, 243, 243, 0.5), rgba(0, 0, 0, 0) 80.71%);
}

.light_theme {
  --cp-darkest:var(--ocean);
  --cp-darker:rgba(149, 149, 149, 0.2);
  --cp-dark:hsl(211, 82%, 36%, 0.5);
  --cp-1:#000814;
  --cp-2:#0a3059;
  --cp-3:#ffffff;
  --cp-4:#ffc300;
  --cp-5:#ffc300;
  --cp-6:#0e6ba8;
  --cp-7:#a6e1fa;
  --cp-8:rgb(160, 212, 255);
  --text-custom-dark :#353535;
  --text-custom-light-hover:#284b63;
  --text-custom-light:#d9d9d9;
  --bs-gradient:rgba(35, 35, 35, 0.3);
  --box-shadow:rgb(0, 30, 44);
  --buttonx:rgb(255, 255, 255);
  --bg-primary: hsl(211, 83%, 21%);
  --bg-secondary: hsl(0, 0%, 100%);
  --color-primary: hsl(0, 0%, 12%);
  --color-secondary: hsl(0, 0%, 37%);
  --card-shadow: hsla(0, 0%, 0%, 0.1);
  --input-bg: hsl(0, 0%, 93%);
  --text-contrast:#ffd60a;
  --shadow-1: 10px 10px 40px var(--card-shadow);
  --gradient-matbg:rgba(18, 18, 18, 0.9);
  
  --gradient-bg:
  linear-gradient(127deg, rgba(0, 143, 253, 0.4), rgba(60, 60, 60, 0) 50.71%),
  linear-gradient(217deg, rgba(255, 255, 255, 0.4), rgba(40, 40, 40, 0) 50.71%),
  linear-gradient(280deg, rgba(218, 244, 255, 0.4), rgba(51, 51, 51, 0) 50.71%),
  linear-gradient(336deg, rgba(19, 52, 72, 0.4), rgba(32, 32, 32, 0) 50.71%),

}

iframe {
  display: block;       /* iframes are inline by default */
  background: #000;
  border: none;         /* Reset default border */
  align-content: center;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.anim-ease-out{
-webkit-transition: 1s ease-out;
-moz-transition: 1s ease-out;
-o-transition: 1s ease-out;
transition: 1s ease-out;
} 

.theme-btn {
  padding: 2px;
  width: 60px;
  background: var(--bg-secondary);
  border-radius: 100px;
  transition: var(--transition-1);
}

.header.active .theme-btn { background: var(--cp-darker); }

.theme-btn .icon {
  color: transparent !important;
  position: relative;
  left: -15px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  box-shadow: inset 8px -8px var(--color-primary);
  transition: var(--transition-1);
}

.theme-btn.active .icon {

  left: 15px;
  color: transparent !important;
  box-shadow: inset  20px -20px var(--ocean);
}

body {
    font-size: medium;
	  background-repeat: no-repeat;
	  background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow-x: hidden;
}

header{
  height: 65px !important;
}

.custom-color-1{
    background-color: var(--cp-dark);
    -webkit-transition: 1s ease-out;
-moz-transition: 1s ease-out;
-o-transition: 1s ease-out;
transition: 1s ease-out;
}

.custom-color-2{
    background-color: var(--cp-darker);
    -webkit-transition: 1s ease-out;
-moz-transition: 1s ease-out;
-o-transition: 1s ease-out;
transition: 1s ease-out;
}

.custom-color-3{
    background-color: var(--cp-darkest);
    -webkit-transition: 1s ease-out;
-moz-transition: 1s ease-out;
-o-transition: 1s ease-out;
transition: 1s ease-out;
}

.custom-bg-1{
    background-color: var(--cp-1);
    -webkit-transition: 1s ease-out;
-moz-transition: 1s ease-out;
-o-transition: 1s ease-out;
transition: 1s ease-out;
}
.custom-bg-2{
    background-color: var(--cp-darkest);
    -webkit-transition: 1s ease-out;
-moz-transition: 1s ease-out;
-o-transition: 1s ease-out;
transition: 1s ease-out;
}
.custom-bg-3{
    background-color: var(--cp-3);
    -webkit-transition: 1s ease-out;
-moz-transition: 1s ease-out;
-o-transition: 1s ease-out;
transition: 1s ease-out;
}
/* .c-display-color{
  color:var(--cp-5);
} */

label{ text-shadow: 0 0 5px var(--cp-2);font-weight: 800; color: var(--cp-3); }

.c-gold{
    color:var(--cp-8);
    -webkit-transition: 1s ease-out;
    text-shadow: 0 0 5px var(--cp-2);
-moz-transition: 1s ease-out;
-o-transition: 1s ease-out;
transition: 1s ease-out;
}
.c-blue{
    color: var(--cp-6)
}
.c-dblue{
    color: var(--cp-3)
}
.c-light{
    color: var(--cp-7)
}

#fyi{
  border: var(--cp-3) solid 2px;
  border-radius: var(--fancybox-border-radius);
  background: var(--bs-gradient);
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
#fyi:hover{
  border-radius: solid 2px;
  border-radius: 21% 79% 18% 82% / 60% 34% 66% 40% ;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
} 

  .myname{
  /* text-shadow: 0 0 10px #ffb41e; */
  font-size: 6vw;
  font-weight: 600;
  font-family: var(--Montserratt);
  align-self: center;
  white-space: wrap; 
  text-shadow: 0 0 5px var(--cp-2);
  color:var(--cp-5);

  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}

.myname:hover{
  text-shadow: 0 0 5px var(--cp-4);
  color:var(--cp-4);

-moz-transition: 1s ease-out;
-o-transition: 1s ease-out;
transition: 1s ease-out;
}

.mytitle{
  font-size: 6vw;
  color:var(--white);
  font-family: var(--Titillium);
  align-self: center;
  white-space: wrap; 
  text-shadow: 0 0 5px var(--color-primary);
  font-weight: 600;
}

#home-image{
  max-height: 800px;
  min-height: 200px;
  max-width: 800px;
  min-width: 200px;
}

.glow-image{
  position: relative;
  display: inline-block;
  border: var(--cp-7) solid 10px;
  box-shadow:
  0 0 50px #10a4ff,            /* outer white */
  -10px 0 80px rgb(8, 0, 255),        /* outer left magenta */
  10px 0 80px #0ff;         /* outer right cyan */
  z-index: 3;
}

.contact-icons-sm i{
  font-size: 9vw;
}

.contact-icons-md i{
  font-size: 12vh;
}

.xlfont-max{
  font-size: 100px;
  font-weight: 800;
}

.xlfont-mid{
  font-size: 80px;
  font-weight: 600;
}

.xlfont-smid{
  font-size: 60px;
  font-weight: 600;
}

.xlfont-xsmid{
  font-size: 35px;
  font-weight: 600;
}

.xlfont-xxsmid{
  font-size: 25px;
  font-weight: 600;
}

.xlfont-min{
  font-size: 18px;
  font-weight: 600;
}

.xlfont-min400{
  font-size: 18px;
  font-weight: 400;
}

.xlfont-smin{
  font-size: 15px;
  font-weight: 600;
}

h4, h6{
    font-family: 'Montserrat', sans-serif; 
}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;  
}
a{color: var(--cp-4); text-decoration: none;}

ul li{
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
    list-style-type: square;
}

ul li a{   
    color: var(--cp-5);
}

ul li :any-link:hover{
    font-weight: 600;
    color: var(--cp-5);
    text-decoration: none;

}

#logo a{
    font: 160px;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none !important;
}

#backdrop-A{
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  width: 100vw;
  height: 100vh;
  /* background:var(--gradient-bg);
  background-color: var(--bg-primary); */
  background-image:url(../images/about-hero-sm.png);
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-position: bottom right !important;
  background-size: contain;
  
}

#backdrop-B{
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  width: 100vw;
  height: 100%;
  /* background:var(--gradient-bg);
  background-color: var(--bg-primary); */
  background-image:url(../images/about-image2b-sm.png);
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-position: bottom left !important;
  background-size: contain;
}

#landing{
  width: 100vw;
  height: 100vh;
  /* background:var(--gradient-bg); */
  background:var(--gradient-bg);
  background-color: var(--bg-primary);
  /* background-image:url(../images/about-image1blc.png); */
  background-image: url(../images/about-image3.png);
  /* background: var(--cp-darker); */

  background-repeat: repeat-x;
  background-attachment: fixed !important;
  background-position: top right !important;
  background-size: auto;
  transition: var(--transition-1);
}

#experience, #tools, #about, #projects{
  
  width: 100vw;
  height: 100%;
  background:var(--gradient-bg);

  background-image: url(../images/about-image5b.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-position: top right !important;
  background-size: cover;
}

.backdrop{
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#contact{
  width: 100vw;
  height: 100%;
  /* background:var(--gradient-bg); */
  background:var(--gradient-bg);
  background-color: var(--bg-primary);
  /* background-image: url(../images/about-image2b.png); */
  background-image:url(../images/about-image3.png);
  background-repeat: repeat-x;
  background-attachment: fixed !important;
  background-position: top left !important;
  background-size: auto;
  transition: var(--transition-1);
}


#tools div img {width: 70px; margin: 15px 15px;}
#tools div {margin: auto;}

.description{
  line-height: 2.2rem;
  text-align: justify;
  text-justify: inter-word;

}


.button-z {
  background:var(--bs-gradient);
  border: 1px solid var(--cp-4) !important;
  box-shadow: 0 0 10px var(--cp-dark);
  text-shadow: 0 0 10px var(--cp-dark);

}

.buttonx {
  position: relative;
  margin: 0px 9px;
  padding: 15px 15px;
  font-size: 1.4vh;
  color: var(--text-contrast);
  border: 0px solid var(--cp-4);
  box-shadow: 0 0 0px var(--box-shadow);
  border-radius: 4px;
  text-shadow: 0 0 10px var(--cp-4);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
}

.buttonx:hover {
  color: var(--cp-2);
  border: 0px solid var(--cp-4);
  box-shadow: 0 0 0px var(--cp-4);
  text-shadow: 0 0 10px var(--cp-4);
}

.buttonx.active {
  color: var(--cp-8) !important;
  border: 0px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);

  text-shadow: 0 0 10px #ffb41e!important;
}

.buttonx::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--cp-4);
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}

.buttonx:hover::before {
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px var(--cp-4),
    0 0 30px var(--cp-4),
    0 0 6px var(--cp-4);
    
}

.buttonx span {
  position: absolute;
  background: var(--bluex);
  pointer-events: none;
  border-radius: 2px;
  box-shadow: 0 0 10px var(--cp-4),
    0 0 20px var(--cp-4),
    0 0 30px var(--cp-4),
    0 0 50px var(--cp-4),
    0 0 100px var(--cp-4);
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
}

.buttonx:hover span {
  opacity: 0;
  transition-delay: 0s;
}

.buttonx span:nth-child(1),
.buttonx span:nth-child(3) {
  width: 60px;
  height: 3px;
}

.buttonx:hover span:nth-child(1),
.buttonx:hover span:nth-child(3) {
  transform: translateX(0);
}

.buttonx span:nth-child(2),
.buttonx span:nth-child(4) {
  width: 3px;
  height: 60px;
}

.buttonx:hover span:nth-child(1),
.buttonx:hover span:nth-child(3) {
  transform: translateY(0);
}

.buttonx span:nth-child(1) {
  top: calc(50% - 2px);
  left: -255px;
  transform-origin: left;
}

.buttonx:hover span:nth-child(1) {
  left: 50%;
}

.buttonx span:nth-child(3) {
  top: calc(50% - 2px);
  right: -255px;
  transform-origin: right;
}

.buttonx:hover span:nth-child(3) {
  right: 50%;
}

.buttonx span:nth-child(2) {
  left: calc(50% - 2px);
  top: -255px;
  transform-origin: top;
}

.buttonx:hover span:nth-child(2) {
  top: 50%;
}

.buttonx span:nth-child(4) {
  left: calc(50% - 2px);
  bottom: -255px;
  transform-origin: bottom;
}

.buttonx:hover span:nth-child(4 ) {
  bottom: 50%;
}

.content-header{
text-align: center;

text-shadow: 0 0 10px rgb(0, 0, 0);
}

.section-content{
font-family: 'Roboto', sans-serif;
font-size: medium;
/* background: linear-gradient(#132c4a, #000); */
background-color: var(--cp-darker);
background-attachment: fixed;
/* min-height: 100vh; */
max-width: 100vmax;
} 

.blur-content-half-bg-dark {
  background: var(--cp-darker);
   /* rgba(0, 0, 0, 0.5); */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 0px solid rgba(255, 255, 255, 0.4);
  -webkit-transition: 1s ease-out;
-moz-transition: 1s ease-out;
-o-transition: 1s ease-out;
transition: 1s ease-out;
}

.blur-content-dark-bg-img {
  background:
  linear-gradient(127deg, rgba(255, 196, 0,0.5), rgba(0, 0, 0, 0) 20.71%),
  linear-gradient(217deg, rgba(3, 0, 163, 0.5), rgba(0, 0, 0, 0) 50.71%),
  linear-gradient(336deg, rgba(0, 113, 233, 0.5), rgba(0, 0, 0, 0) 50.71%),
  url(../images/about-image3.png);
  background-size: contain;
  background-repeat: repeat;
  background-position: bottom center;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}

.blur-content-dark {
  background: var(--cp-darker);
  background-image: url(../images/about-image3.png);
    background-size: contain;
  background-repeat: repeat;
  background-position: bottom center;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(100, 100, 100, 0.4);
  color:var(--text-custom-light);
  -webkit-transition: 1s ease-out;
-moz-transition: 1s ease-out;
-o-transition: 1s ease-out;
transition: 1s ease-out;
}

.blur-content {

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.blur-content-half {
    background: rgba(146, 146, 146, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 0px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: 1s ease-out;
-moz-transition: 1s ease-out;
-o-transition: 1s ease-out;
transition: 1s ease-out;
}

.blur-content-no-border{
    background: rgba(149, 149, 149, 0.2);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
    border: 0px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: 1s ease-out;
-moz-transition: 1s ease-out;
-o-transition: 1s ease-out;
transition: 1s ease-out;
}


.text-glow {
  margin: 3px !important;
  padding: 5px 5px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  background-color: var(--bs-gradient);
  border-radius: var(--fancybox-border-radius);
  z-index: 1;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.icon-glow{
  border: 1px solid #ffffff;
  border-radius: var(--fancybox-border-radius);
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}

.icon-glow:hover{
  cursor: crosshair;
  border-radius: 14px;
  background-color: var(--cp-8);
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  -o-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.text-glow:hover{
  margin: 3px !important;
  padding: 5px 5px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  background-color: #ffb41e;
  border-radius: 14px;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  -o-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.rotator{
    animation: rotateImage 60s ease-in-out infinite;
    transition: 1.5s ease-in-out;
}

.rotator:hover{
    animation: rotateImage 10s ease-in-out infinite;
    transition: 1.5s ease-in-out;
}

.float{animation: floatImage 3s ease-in-out infinite;
  transition: 1.5s ease;}

@keyframes rotateImage{
    0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
}

@keyframes floatImage{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(-1.5rem);
      
  }
  100%{
      transform: translateY(0);
  }
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

  @media(max-width: 4560px){
    #typewritter{
      height: 40px;
    }
    iframe {

      height: 50vh;        /* Viewport-relative units */
      width: 39vw;
 
    }

  }

  @media(max-width: 1500px){
    #typewritter{
      height: 40px;
    }
    iframe {

      height: 50vh;        /* Viewport-relative units */
      width: 38vw;
 
    }

  }

  @media(max-width: 1024px){
    #typewritter{
      height: 40px;
    }
    iframe {

      height: 50vh;        /* Viewport-relative units */
      width: 43vw;
 
    }

  }

  @media(max-width: 980px){
    #typewritter{
      height: 60px;
    }

    iframe {

      height: 50vh;        /* Viewport-relative units */
      width: 94vw;
 
    }

  }

  @media(max-width: 780px){
    #typewritter{
      height: 60px;
    }

    iframe {

      height: 50vh;        /* Viewport-relative units */
      width: 920vw;
 
    }

  }

  @media(max-width: 640px){
    #typewritter{
      height: 40px;
    }

    iframe {

      height: 50vh;        /* Viewport-relative units */
      width: 88vw;
 
    }

  }
  
  @media(max-width: 425px){
    #typewritter{
      height: 120px;
    }

    iframe {
      height: 50vh;        /* Viewport-relative units */
      width: 85vw;
 
    }

  }

  @media(max-width: 375px){
    #typewritter{
      height: 140px;
    }

    iframe {

      height: 50vh;        /* Viewport-relative units */
      width: 85vw;
 
    }

  }

  @media(max-width: 320px){
    #typewritter{
      height: 160px;
    }
    iframe {

      height: 50vh;        /* Viewport-relative units */
      width: 80vw;
 
    }
  }

.typewriting-text{
    /* border: 2px solid #ffffff; */

    color: var(--cp-8);
    font-family: monospace;
    overflow: hidden; 
    font-size: 16px;
    background-color: var(--cp-2);
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: wrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  

.luminaire-flex{

    /* position: relative; */
    position: fixed;
    /* display: inline-block; */
    display: inline-block;
    /* top: calc(100% - 100px);
    right: calc(100% - 100px); */
    width: 30px;
    height: 30px;
    top: calc(100% - 140px);
    left: calc(100% - 140px);
    /* margin: -20px -100px; */
    border-radius: 50%;
    background-color: #313131;
    box-shadow: 0 0 40px 20px #fff, 0 0 100px 50px var(--buttonx);
    transition: box-shadow 4s ease-out;
    animation: spin 16s linear infinite;
    z-index: 1;
  }

  .luminaire{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 50px;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 0 0 40px 20px #fff, 0 0 100px 50px #0ff;
    transition: box-shadow 4s ease-out;
    animation: spin 16s linear infinite;
    z-index: 3;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .luminaire-flex:hover, .luminaire:hover {
    cursor: pointer;
  }

  .luminaire::before, .luminaire::after, .luminaire-flex::before, .luminaire-flex::after {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 40px 20px #fff, 0 0 100px 50px rgb(197, 255, 245);
    opacity: 0;
    transition: opacity 4s, transform 4s;
  }


  .on {
    background-color: rgb(0, 136, 255,0.55);
    box-shadow: 0 0 80px 40px #fff, 0 0 200px 100px rgb(0, 136, 255);
  }
  
  .on::before {
    transform: translateX(-100px);
    opacity: 0.8;
  }
  
  .on::after {
    transform: translateX(100px);
    opacity: 0.8;
  }

#carouselExampleCaptions .carouselx-indicators button{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
}

#carouselExampleCaptions .carouselx-indicators button:hover{
  background-color:var(--cp-3);
  border-radius:10%;
  transition: 2s ease-out;
}

.carousel-control-prev, .carousel-control-next{
  border-radius: 10%;
  background-color:rgba(0, 0, 0, 0.15);
  height: 18%;
  margin-top: 160px;
  transition: 1s ease-out;
}

.carousel-control-prev:hover, .carousel-control-next:hover{
  background-color:var(--cp-3);

}

.carousel-inner{
    width:auto !important;
    height: auto !important;
}

.carousel-inner img{
    min-width: 600px;
    min-height: 640px;
    overflow: hidden;
}

.xarrows{
  width: 100px;
  height: 100px;
  padding: 10px;
  /* background-color:var(--cp-8); */
  text-shadow: 0 0 10px rgb(0, 0, 0);
  border-radius: 50%;
  -webkit-transition: 1s ease-out;
-moz-transition: 1s ease-out;
-o-transition: 1s ease-out;
transition: 1s ease-out;
}

#movingButton{
  position: fixed;
  bottom: 30px;
  right: 10px;
  width: 65px;
  height: 65px;
  padding: 0px;
  background-color:var(--cp-4);
  text-shadow: 0 0 10px rgb(0, 0, 0);
  border-radius: 20%;
  /* filter: blur(5px);
  -webkit-filter: blur(5px); */
}

#movingButton:hover{
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  background-color:var(--cp-2);
  /* filter: blur(0px);
  -webkit-filter: blur(0px); */
}